body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.controls {
  margin: 1em;
}

video {
  width: 100%;
  max-width: 400px;
  border: 2px solid #000;
  margin-bottom: 1em;
}

#threeContainer {
  margin: auto;
  background: #eef;
}
