body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fdf6e3;
  margin: 0;
  padding: 0;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

h1, h2 {
  color: #333;
}
